<div class="row">
    <div class="col l4">
        <div class="card">
            <div class="card-image">
                <img src="assets/images/devourburger.jpg">
                <span class="card-title">Eat the Burger</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">cloud</i>
                </button>
            </div>

        </div>
    </div>
    <div class="col l4">
        <div class="card">
            <div class="card-image">
                <img src="assets/images/theburger.jpg">
                <span class="card-title">Add the Burger</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                <label for="textarea">Text Area</label>
                <textarea id="textarea"></textarea>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">cloud</i>
                </button>
            </div>
        </div>
    </div>
    <div class="col l4">
        <div class="card">
            <div class="card-image">
                <img src="assets/images/eatburger.jpg">
                <span class="card-title">Burger Graveyard</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
</div>